<!DOCTYPE html>
	<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<title>Curve Point</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	</head>
	<body>
		<div th:replace="~{navbar :: topbar}"></div>
		<div class="container">
			<h2>Curve Point List</h2>
			<a href="/curvePoint/add" class="btn btn-primary btn-sm">Add New</a>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>CurvePointId</th>
						<th>Term</th>
						<th>Value</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="curvePoint : ${curvePoints}">
						<td th:text="${curvePoint.id}"></td>
						<td th:text="${curvePoint.curveId}"></td>
						<td th:text="${curvePoint.term}"></td>
						<td th:text="${curvePoint.value}"></td>
						<td class="text-center">
							<a th:href="@{/curvePoint/update/{id}(id=${curvePoint.id})}" class="btn btn-sm btn-warning">Edit</a>&nbsp;|&nbsp;
							<a th:href="@{/curvePoint/delete/{id}(id=${curvePoint.id})}" class="btn btn-sm btn-danger">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>