<!DOCTYPE html>
	<html xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8"/>
		<title>Navbar</title>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	</head>
	<body>
	<div th:replace="~{navbar :: topbar}"></div>

	<!-- Page Content -->
	<div class="container">
		<h2>User List</h2>
		<a href="/user/add" class="btn btn-primary btn-sm">+ Add New</a>

		<table class="table table-bordered align-middle">
			<thead class="table-light">
			<tr>
				<th style="width: 10%">Id</th>
				<th>Full Name</th>
				<th>User Name</th>
				<th style="width: 25%">Role</th>
				<th style="width: 10%">Enabled</th>
				<th style="width: 15%" class="text-center">Action</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="user : ${users}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.fullName}"></td>
				<td th:text="${user.username}"></td>
				<td th:text="${user.role}"></td>
				<td th:text="${user.enabled} ? 'Yes' : 'No'"></td>
				<td class="text-center">
					<a th:href="@{/user/update/{id}(id=${user.id})}" class="btn btn-sm btn-warning">Edit</a>
					<a th:href="@{/user/delete/{id}(id=${user.id})}" class="btn btn-sm btn-danger ms-1">Delete</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
