<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <h3> HOME PAGE </h3>
    <p>
        <span th:text="${name}"></span>
    </p>
    <a href="/logout">Logout</a><br>
    <a href="/user/list" sec:authorize="hasAuthority('ADMIN')">User management</a><br>
    <a href="/bidList/list">BidList</a>
</body>
</html>